@charset "UTF-8";
@import "base";
//初始化css
@import "mixins/cjj";
//引入scss函数库 包含占位符，函数，mixin
@import "mixins/variable";
//引入变量，
@import "modules/pubHeader";
//引入页头样式
@import "modules/pubFooter"; //引入页脚样式
/*=====引入页面主样式=====*/
.main {
	padding: 20px 0;
	background-color: $whilt;
}
//购买路径
.buy-path {
	line-height: 20px;
	width: 100%;
}
//商品选择
.pro-choose {
	//左侧商品图片
	.choose-view {
		width: 540px;
		height: 600px;
		padding: 0 10px;
		margin-right: 40px;
		float: left;
	}
	.view-main {
		height: 450px;
		width: 100%;
		position: relative;
		margin: 60px 0 0 0;
		border: 1px solid $gray01;
		overflow: hidden;
		text-align: center;
		img {
			height: 100%;
			width: 100%;
		}
	}
	.view-mini {
		width: 100%;
		margin-top: 15px;
		position: relative;
		box-sizing: border-box;
		padding: 0 50px;
		.mini-box {
			overflow: hidden;
			width: 100%;
			height: 80px;
			position: relative;
			.mini-list {
				height: 80px;
				width: 100%;
				position: absolute;
				left: 0;
				.mini-item {
					float: left;
					height: 76px;
					width: 76px;
					margin: 0 4px;
					border: 2px solid transparent;
					cursor: pointer;
					@include transition2;
					img {
						width: 76px;
						height: 76px;
					}
					&:hover {
						border: 2px solid $color-Main;
					}
				}
				.current{
					border: 2px solid $color-Main;
				}
			}
		}
		%ctrl {
			position: absolute;
			top: 1px;
			width: 50px;
			line-height: 80px;
			text-align: center;
			cursor: pointer;
			color: rgba(0, 0, 0, .1);
			font-weight: 600;
			z-index: 100;
			font-size: 40px;
			@include transition2;
			&:hover {
				color: rgba(0, 0, 0, .5);
			}
		}
		.mini-prev {
			@extend %ctrl;
			left: 0;
		}
		.mini-next {
			@extend %ctrl;
			right: 0;
		}
	}
	//右侧商品信息
	.choose-info {
		width: 580px;
		padding: 0 10px;
		float: right;
		//名字
		.choose-title {
			display: block;
			font-size: 20px;
			color: $color-Main;
			font-weight: 600;
			line-height: 40px;
			padding-bottom: 20px;
			border-bottom: 1px solid $yellow02;
			.title-brand {
				padding: 0 8px;
			}
		}
		//价格
		.choose-price {
			padding: 10px;
			background-color: $blue007;
			@include box-shadow(0 2px 5px 2px rgba(0, 0, 0, .1));
			//原价
			.bid-price {
				line-height: 40px;
				.bid-price-n {
					color: $gray02;
				}
			}

			//疾风价
			.jf-price {
				line-height: 40px;
				.jf-price-n {
					font-size: 30px;
					font-weight: 600;
					color: $color-Main;
					i {
						font-size: 20px;
					}
				}
				.spare {
					display: inline-block;
					line-height: 18px;
					font-weight: 600;
					font-size: 12px;
					padding: 0 5px;
					background-color: $blue009;
					@include border-radius(15px 0 15px 0);
					color: $whilt;
					position: relative;
					top: -25px;
					left: -5px;
				}
			}
		}
		.title {
			line-height: 40px;
			float: left;
			width: 70px;
			text-align: left;
		}
		//促销活动
		.promo {
			.promo-item {
				display: inline-block;
				padding: 5px;
				margin: 9px 2px;
				line-height: 12px;
				font-size: 12px;
				color: $whilt;
				background-color: $color-Main;
				@include border-radius(5px);
			}
		}
		//配送地址
		.choose-site {
			padding-left: 10px;
			.info {
				line-height: 40px;
				display: inline-block;
			}
			.send-site {
				cursor: pointer;
				padding-right: 5px;
			}
			.send-state {
				padding: 0 10px;
				border-right: 1px solid $gray03;
				border-left: 1px solid $gray03;
			}
			.send-price {
				padding-left: 4px;
				display: inline-block;
			}
		}
		//尺码
		.choose-size {
			.size-list {
				display: inline-block;
				width: 460px;

			}
			.size-item {
				display: inline-block;
				margin: 4px;
				width: 28px;
				line-height: 28px;
				text-align: center;
				border: 2px solid $gray05;
				cursor: pointer;
				color: $gray02;
				@include transition2;
				&:hover {
					border: 2px solid $color-Main;
					color: $color-Main;
				}
			}
			.current {
				border: 2px solid $color-Main;
				color: $color-Main;
			}
			.no-size{
				border: 2px dashed $gray01;
				color: $gray01;
				cursor: default;
			}
		}
		//颜色
		.choose-color {
			margin-top: 20px;
			.color-list {
				display: inline-block;
				width: 510px;
				@media screen and (max-width: 1180px) {
					width: 480px;
				}
			}
			.color-item {
				display: inline-block;
				height: 50px;
				margin: 5px;
				font-size: 12px;
				background-color: $gray04;
				border: 2px dotted $yellow01;
				@include transition2;
				cursor: pointer;
				&:hover {
					border: 2px solid $color-Main;
					color: $color-Main;
				}
				img {
					float: left;
					width: 50px;
					height: 50px;
				}
				span {
					float: right;
					line-height: 50px;
					text-align: center;
					padding: 0 6px;
				}
			}
			.current {
				border: 2px solid $color-Main;
				color: $color-Main;
			}
		}
		//数量
		.choose-nums {
			margin-top: 10px;
			.nums-list {
				display: inline-block;
				margin-left: 5px;
				width: 120px;
				border: 1px solid $gray01;
			}
			.nums-item {
				float: left;
				width: 40px;
				line-height: 40px;
				a {
					display: block;
					text-align: center;
					width: 40px;
				}
				.inp {
					text-align: center;
					float: left;
					width: 30px;
					padding: 0 5px;
					height: 40px;
				}
			}
			.nums-ctrl {
				font-size: 22px;
				background-color: rgba(0, 0, 0, .1);
				&:hover {
					@include box-shadow(inset 0 0 5px 0 rgba(0, 0, 0, .2));
				}
			}
		}
		//按钮
		.choose-btn {
			text-align: center;
			margin: 30px 0;
			%btn {
				display: inline-block;
				line-height: 40px;
				width: 180px;
				text-align: center;
				font-size: 16px;
				font-weight: 600;
				border: 1px solid $color-Main;
			}
			.buynow {
				color: $color-Main;
				background-color: $blue007;
				margin-right: 20px;
				@extend %btn;
				&:hover {
					@include box-shadow(inset 0 0 5px 0 rgba(0, 0, 0, .2));
				}
			}
			.addcar {
				@extend %btn;
				color: $whilt;
				background-color: $color-Main;
				&:hover {
					@include box-shadow(inset 0 0 5px 0 rgba(255, 255, 255, .8));
				}
			}
		}
	}
	@media screen and (max-width: 1180px) {
		.choose-view {
			width: 364px;
			margin-right: 5px;
		}
		.view-main {
			height: 377px;
		}
		.choose-info {
			width: 550px;
		}
	}
}
//商品展示
.pro-show {
	margin-top: 50px;
	.tab-list {
		height: 50px;
		border: 1px solid $gray01;
	}
	.tab-item {
		text-align: center;
		float: left;
		line-height: 50px;
		border-right: 1px solid $gray01;
		padding: 0 30px;
		cursor: pointer;
		border-bottom: 2px solid transparent;
		@include transition2;
		&:hover {
			color: $color-Main;
			border-bottom: 2px solid $color-Main;
		}

	}
	.current {
		color: $color-Main;
		border-bottom: 2px solid $color-Main;
	}
}
.show-box {
	//商品详情
	.information {
		display: block;
		.info-title {
			padding: 10px 0;
			line-height: 30px;
			font-size: 18px;
			text-align: left;
			border-bottom: 2px dotted $gray01;
		}
		//详细参数
		.info-s {
			table {
				width: 960px;
				margin: 30px auto 0;
			}
			tr {
				border: 1px solid $gray01;
				border-right: none;
			}
			td {
				padding: 0 10px;
				width: 200px;
				line-height: 30px;
			}
			td:nth-child(2n) {
				border-right: 1px solid $gray01;
				color: $gray03;
			}
			td:nth-child(2n-1) {
				background-color: $gray04;
				width: 80px;
			}
		}
		//尺码对照表
		.info-size {
			table {
				margin: 30px auto 0;
			}
			th {
				border: 1px solid $gray01;
				padding: 0 10px;
				background-color: $gray04;
			}
			td {
				width: 50px;
				line-height: 33px;
				font-size: 12px;
				text-align: center;
				border: 1px solid $gray01;
			}
		}
		//商品展示
		.info-pic {
			text-align: center;
		}
	}
	//评论列表
	.comment {
		display: none;
		margin-top: 30px;
		overflow: hidden;
		//评分
		.comment-grade {
			border: 1px solid $gray01;
			.grade {
				float: left;
				height: 80px;
				width: 150px;
				margin: 0 20px;
				text-align: center;
				h4 {
					font-size: 12px;
					line-height: 10px;
					margin-top: 8px;
				}
				strong {
					font-size: 30px;
					color: $color-Main;
					font-weight: 600;
				}
				p {
					span {
						display: block;
						height: 10px;
						background-color: $gray01;
						border-radius: 5px;
						position: relative;
						em {
							position: absolute;
							left: 0;
							top: 0;
							height: 10px;
							width: 0;
							background-color: $color-Main;
							z-index: 10;
							@include transition5;
							@include border-radius(5px);
						}
						i {
							position: absolute;
							bottom: -5px;
							left: 0;
							margin-left: -8px;
							border: 5px solid transparent;
							border-bottom-color: $color-Main;
							width: 0;
							height: 0;
							@include transition5;
						}
					}
				}
			}
			.tag-box {
				float: left;
				border-left: 1px solid $gray01;
				height: 80px;
				.com-tag-label {
					float: left;
					color: $gray01;
					writing-mode: tb-rl;
					width: 30px;
					height: 80px;
					text-align: center;
					padding-right: 20px;
					background: url("./../images/kh.png") no-repeat right center;
				}
				.com-tag-list {
					float: left;
					padding-left: 5px;
					width: 920px;
					height: 70px;
					padding-top: 10px;
					.tag-item {
						text-align: center;
						display: block;
						float: left;
						height: 22px;
						padding: 0 8px;
						margin: 5px 10px;
						@include border-radius(5px);
						@include transition2;
						@include box-shadow(0 2px 2px 0 rgba(0, 0, 0, .1));
					}
					.good {
						border: 1px solid $blue008;
						a {
							color: $color-Main;
						}
					}
					.good:hover {
						background-color: $blue008;
						border-color: $color-Main;
						@include transform(translate3d(0, -1px, 0));
						@include bug3d;
					}
					.bad {
						border: 1px solid #f7caca;
						a {
							color: #f94e4e;
						}
					}
					.bad:hover {
						background-color: #f7caca;
						border-color: #f94e4e;
						@include transform(translate3d(0, -1px, 0));
						@include bug3d;
					}
				}
			}
			@media screen and (max-width: 1180px) {
				.grade {
					margin: 0 10px;
				}
				.tag-box {
					.com-tag-list {
						width: 710px;
					}
				}
			}
		}
		//评论
		.com-item {
			@extend %cl;
			padding: 10px;
			border-bottom: 1px solid $gray01;
			.content {
				float: left;
				width: 880px;
				p {
					position: relative;
				}
				.img-small {
					height: 72px;
					width: 860px;
					margin-top: 5px;
					overflow: hidden;
					li {
						float: left;
						border: 2px solid $gray01;
						margin-right: 10px;
						padding: 2px;
						@include transition2;
						&.current {
							border: 2px solid $color-Main;
						}
					}
					img {
						width: 60px;
						height: 60px;
						cursor: url("../images/tobig.ico"), auto;
					}
				}
				.img-big {
					overflow: hidden;
					display: none;
					cursor: url("../images/tosmall.ico"), auto;
					&img {
						max-height: 500px;
					}
				}
				.reply {
					color: $color-Main;
					span {
						padding-right: 10px;
					}
				}
				.replyHiden {
					display: none;
				}
				@media screen and (max-width: 1180px) {
					width: 640px;
				}
			}
			.info {
				position: relative;
				float: right;
				width: 300px;
				height: 100%;
				text-align: center;
				padding: 10px 0;
				line-height: 100%;
			}
			.time {
				font-size: 12px;
				margin-top: 5px;
				display: block;
				color: $gray03;
			}
			.type {
				float: left;
				width: 150px;
				font-size: 12px;
				p {
					line-height: 18px;
				}
				span {
					color: $gray03;
				}
			}
			.author {
				float: left;
				width: 150px;
			}
			.anonymous {
				display: block;
				font-size: 12px;
				color: $red01;
			}
		}
		//翻页
		.comment-pno {
			.pno-list {
				float: right;
				margin: 20px;
			}
			li {
				float: left;
				cursor: pointer;
				color: $blue02;
			}
			.prev, .next {
				border: 1px solid $gray01;
				line-height: 27px;
				padding: 5px 14px;
			}
			.prev {
				border-right: none;
			}
			.pno-item {
				line-height: 27px;
				text-align: center;
				padding: 5px 14px;
				border: 1px solid $gray01;
				border-right: none;
			}
			.pno-more {
				border-top: none;
				border-bottom: none;
				color: $gray03;
			}
			.pno-disabl {
				color: $gray03;
				cursor: default;
			}
		}
	}
	//购物保障
	.safe {
		display: none;
	}
	//无忧退换
	.goback {
		display: none;
	}
	//支付与配送
	.play {
		display: none;
	}
}
@media screen and (max-width: 1180px) {
	.w {
		width: 960px;
	}
}