@charset "UTF-8";
//初始化css
@import "base";
//scss函数库 包含变量，占位符，函数，mixin
@import "mixins/cjj";
//变量，
@import "mixins/variable";
//页头样式
@import "modules/pubHeader";
//页脚样式
@import "modules/pubFooter";
body {
	overflow-x: hidden;
}
/*====页面主样式=====*/
%lis {
	.check {
		width: 50px;
		input {
			display: none;
		}
		label {
			display: inline-block;
			cursor: pointer;
			i {
				display: inline-block;
				width: 15px;
				height: 15px;
				line-height: 15px;
				padding: 0 5px;
			}
		}
	}
	.item {
		margin-right: 40px;
		.item-pic {
			width: 80px;
			height: 80px;
			float: left;
			margin-right: 10px;
			img {
				width: 80px;
				height: 80px;
			}
		}
		.item-info {
			font-size: 12px;
			width: 200px;
			min-height: 80px;
			float: left;
			overflow: hidden;
		}
	}
	.info {
		width: 180px;
		font-size: 12px;
		color: $gray02;
	}
	.price {
		width: 120px;
		font-weight: 500;
		.price-del {
			font-weight: normal;
			color: $gray02;
		}
	}
	.nums {
		width: 120px;
		%nums {
			width: 20px;
			height: 25px;
			text-align: center;
			padding: 0 5px;
			background-color: $blue007;
			float: left;
			border: 1px solid transparent;
			@include transition1;
			&:hover {
				border: 1px solid $red01;
			}
		}
		.nums-redus {
			@extend %nums;
			border-right: 1px solid $gray01;
		}
		.nums-add {
			@extend %nums;
			border-left: 1px solid $gray01;
		}
		.nums-num {
			float: left;
			height: 25px;
			width: 20px;
			padding: 0 5px;
			border-top: 1px solid $gray01;
			border-bottom: 1px solid $gray01;
		}
	}
	.sum {
		width: 140px;
		padding: 0 20px;
		span {
			color: $color-Main;
			font-weight: 700;
			font-size: 14px;
		}
	}
	.del {
		float: right;
		width: 120px;
		a {
			font-size: 12px;
			&:hover {
				color: $red01;
			}
		}
	}
	@media screen and (max-width: 1180px) {
		.item {
			margin-right: 18px;
			.item-info {
				width: 160px;
			}
		}
		.info {
			width: 150px;
		}
		.nums {
			width: 110px;
		}
		.sum {
			width: 110px;
		}
		.del {
			width: 60px;
		}
	}
}
.car-box {
	margin-top: 20px;
	.car-header {
		height: 25px;
		padding: 5px 20px;
		margin-bottom: 5px;
		li {
			height: 21px;
			float: left;
			font-size: 12px;
		}
		@extend %lis
	}
	.car-body {
		border: 1px solid $gray01;
	}
}
.pro-item {
	padding: 20px;
	border-bottom: 1px solid $gray01;
	margin-bottom: -1px;
	li {
		float: left;
		height: 80px;
	}
	@extend %lis
}
.car-sum {
	height: 50px;
	margin-top: 20px;
	background-color: $blue007;
	li {
		float: left;
		height: 50px;
		line-height: 50px;
		font-size: 12px;
	}
	.select {
		padding-left: 20px;
		input {
			display: none;
		}
		i {
			margin-right: 10px;
			cursor: pointer;
			@include user-select-no
		}
		label {
			cursor: pointer;
		}
	}
	.info {
		width: 844px;
		-ms-text-align-last: right;
		text-align-last: right;
		margin-right: 20px;
		span{
			font-size: 14px;
			color: $color-Main;
			font-weight: 600;
			padding: 0 5px	;
		}
		@media screen and (max-width: 1180px) {
			width: 600px;
		}
	}
	.allPrice {
		width: 150px;
		span{
			font-size: 16px;
			color: $color-Main;
			font-weight: 600;
			padding: 0 5px	;
		}
	}
	.sum-btn {
		float: right;
		a {
			display: block;
			height: 50px;
			width: 120px;
			line-height: 50px;
			text-align: center;
			background-color: $red01;
			color: $whilt;
			font-size: 18px;
			font-weight: 600;
			cursor: pointer;
		}
	}
}

