@charset "UTF-8";
//=====链接样式=====
%b-m{
	color:  $black;
	&:hover,&:active{
		color: $color-Main;
	}
}
%g2-m{
	color:  $gray02;
	&:hover,&:active{
		color: $color-Main;
	}
}
%g3-m{
	color:  $gray03;
	&:hover,&:active{
		color: $color-Main;
	}
}
%cl {
	*zoom: 1;
	&:after {
		content: "";
		display: table;
		height: 0;
		clear: both;
		visibility: hidden;
		overflow: hidden;
	}
}
.clearfix {
	@extend %cl;
}
.fl{
	float: left;
}
.fr{
	float: right;
}


