@charset "UTF-8";
	//=====基本颜色=====
$whilt:#FFFFFF;	//白色
$black:#000000;	//黑色
$gray01:#e0e0e0;//灰色01
$gray02:#616161;//灰色02
$gray03:#959595;//灰色03
$gray04:#fafafa;//灰色04
$gray05:#bdbdbd;	//灰05
$blue01:#028ce8;//主色蓝  02 140 232
$blue02:#1167a0;//深色蓝
$yellow01:#e8e4d0;//黄
$yellow02:#d8d2b6;//深黄
$blue007:#e3f2f5;//背景绿
$blue008:#bae9f3;//深绿
$blue009:#45a8ea;//浅绿
$blue006:#097fce;//绿



//样式颜色
$color-Main:$blue01; //主色
$bd-gray:$gray01;	//灰色边框
$server-gray:$gray02;	//服务文本颜色
$bg-gray:$gray04;	//背景灰色
$topbar-bg:$blue007;	//顶部登录条背景
$car-bg:$blue008;	//购物车背景




