@charset "UTF-8";
body{
	min-width: 1200px;
	overflow-x: hidden;
}
.header{
	background: url("../../images/headbg.jpg") repeat-x left bottom;
	.logo-box{
		padding: 20px 0;
		img{
			float: left;
			height: 80px;
		}
		h1{
			float: left;
			padding-left: 30px;
			line-height: 80px;
			font-size: 30px;
		}
	}
}
.main{
	height: 600px;
	background: #{$color-Main} url("../../images/s8.jpg") no-repeat top center;
	-webkit-background-size: cover;
	background-size: cover;

	.login-box{
		width: 300px;
		height: 300px;
		padding: 25px;
		background-color: #f7f7f7;
		float: right;
		margin-top: 50px;
		box-shadow: 3px 3px 4px 1px rgba(0,0,0,.2);
		.title{
			margin-top: 9px;
			line-height: 20px;
			padding-bottom: 10px;
			font-size: 20px;
		}
		.uname{
			height: 42px;
			margin-top: 20px;
			position: relative;
			label{
				display: block;
				width: 40px;
				line-height: 40px;
				color: $whilt;
				position: absolute;
				top: 1px;
				left: 1px;
			}
			input{
				width: 240px;
				font-size: 14px;
				line-height: 18px;
				padding: 11px 8px 11px 50px;
				border: 1px solid $gray01;
			}
		}
		.upwd{
			height: 42px;
			margin-top: 30px;
			label{
				display: block;
				width: 40px;
				line-height: 40px;
				color: $whilt;
				position: absolute;
				top: 1px;
				left: 1px;
			}
			input{
				width: 240px;
				font-size: 14px;
				line-height: 18px;
				padding: 11px 8px 11px 50px;
				border: 1px solid $gray01;
			}
		}
		.btn{
			margin-top: 30px;
			width: 300px;
			line-height: 42px;
			color: $whilt;
			font-size: 18px;
			font-weight: 600;
			background-color: $blue009;
			cursor: pointer;
			&:hover{
				background-color: $color-Main;
			}
		}
		.helps{
			text-align: right;
			padding-top: 15px;
			a{
				@extend %g2-m;
				padding: 5px;
			}
		}
		.login-other{
			margin-top: 10px;
			a{
				@extend %g2-m;
				padding: 5px;
			}
		}
		.ewm-login{
			display: none;
		}
	}
	@media screen  and (max-width: 1180px){
		height: 450px;
	}
}

