@charset "UTF-8";
.header{
	background: url("../../images/headbg.jpg") repeat-x left bottom;
	.logo-box{
		padding: 20px 0;
		img{
			float: left;
			height: 80px;
		}
		h1{
			float: left;
			padding-left: 30px;
			line-height: 80px;
			font-size: 30px;
		}
	}
}
.main{
	height: 580px;
}
.register-box{
	position: absolute;
	left: 50%;
	margin-left: -200px;
	margin-top: 50px;
}
.regist-form {
	.regist-item {
		position: relative;
		width: 540px;
		height: 50px;
		margin-bottom: 10px;
		input{
			height: 48px;
			width: 278px;
			padding: 0 20px;
			@include bd1($blue009);
			font-size: 14px;
			line-height: 30px;
			border-radius: 4px;
		}
	}
	.short-item{
		input{
			width: 110px;
		}
	}
	.agreement-word{
		width: 318px;
		text-align: center;
		line-height: 35px;
		font-size: 12px;
		color: $gray03;
		a{
			@extend %shen-m;
		}
	}
	.submit-btn{
		margin-top: 10px	;
		width: 320px;
		line-height: 50px;
		text-align: center;
		background-color: $color-Main;
		color: $whilt;
		font-size: 16px;
		border-radius: 4px;
		cursor: pointer;
		@include ts1;
		&:hover{
			background-color: $blue006;
		}
	}
	.tips{
		position: absolute;
		left: 330px;
		top: 10px;
		padding: 5px 10px;
		line-height: 20px;
		background-color: $blue007;
		.tips-words{
			max-width: 180px;
			line-height: 20px;
			font-size: 12px;
			color: $gray02;
		}
		.arr{
			display: block;
			border: 7px solid transparent;
			border-right: 7px solid $blue007;
			position: absolute;
			left: -14px;
			top: 50%;
			margin-top: -10px;
		}
	}
	.tips-error{
		background-color: $error;
		.tips-words{
			color: $whilt;
		}
		.arr{
			border-right-color: $error;
		}
	}
	.tips .ok{
		display: none;
	}
	.tips-ok{
		.icon-font{
			display: inline-block;
		}
		.arr{
			display: none;
		}
		.tips-words{
			display: none;
		}
		background-color: transparent;
		color: $color-Main;
		font-size: 20px;
		font-weight: 700;
	}
	.regist-label{
		position: absolute;
		left: 10px;
		top: 0;
		line-height: 50px;
		padding: 0 10px;
		cursor: inherit;
	}
	.auth-code{
		float: left;
		margin-right: 28px;
	}
	.auth-pic{
		width: 140px;
		height: 50px;
		display: block;
		float: left;
		overflow: hidden;
		border-radius: 4px;
		background: url("../../images/codepic.jpg") no-repeat center center;
		background-size: contain;
		cursor: pointer;
	}
}